<!--templates/list_item.html-->
{% extends 'base.html' %}

{% block content %}
    {% for item in list_item %}
        <div class="card">
            <!--Шапка карточки статьи-->
            <div class="card-header">
                <span class="font-weight-bold">{{ item.title }} | {{item.price}}</span> 
                |
                <span class="text-muted">
                    by {{ item.owner }} | {{item.date}}
                </span>
            </div>
            <!--Тело карточки статьи-->
            <div class="card-body">
                {{ item.amount }}
            </div>
            <!--Подвал карточки статьи-->
            <div class="card-footer text-center text-muted">
                <a href="#">Edit</a> | <a href="#">Delete</a>
            </div>
        </div>
        <br/>
    {% endfor %}
{% endblock content %}